@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
}

#icon{
    position: fixed;
    top: 10%;
    width: 30%;
    height: auto;
    left: 35%;
}

.buttoms{
  position: fixed;
    top: 65%;
    left: 20%;
    width: 60%;
    height: 6%;
    border-radius: 60px;
    text-align: center;
    font-size: 390%;
    color: #ffffff;
    background-color: #f8a442;
    border: none;
}

#error{
  position: fixed;
  text-align: center;
    top: 38%;
    left: 10%;
    width: 80%;
    height: 22%;
    font-size: 340%;
    color: rgb(255, 0, 0);
}

#rep_problem{
position: fixed;
top: 80%;
left: 35%;
font-size: 300%;
}

.msg1 {
  position: fixed;
  text-align: center;
    top: 38%;
    left: 10%;
    width: 80%;
    height: 22%;
    font-size: 340%;
    color: rgb(255, 0, 0);
}

.msg2 {
    position: fixed;
    text-align: center;
    top: 45%;
    left: 10%;
    width: 80%;
    height: 22%;
    font-size: 340%;
    color: rgb(255, 0, 0);
}
.msg3 {
  position: fixed;
  text-align: center;
    top: 58%;
    left: 10%;
    width: 80%;
    height: 22%;
    font-size: 340%;
    color: rgb(255, 0, 0);
}
